article img {
    margin: 0;
}
.align-left {
    float: left;
    padding: 5px 15px 5px 0;
}
.align-right {
    float: right;
    padding: 5px 0 5px 15px;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p, p + p {
    margin: 30px 0;
}
.highlight pre.chroma {
    position: relative;
    margin-bottom: 1em;
    font-size: .75em;
    line-height: 1.8;
    border: 1px solid #f2f3f3;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0 1px 1px rgba(0,0,0,0.125);
    overflow-x: auto;
    tab-size: 4;
}
.highlight pre.chroma code {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}
ul li, ol li {
    margin-bottom: 0.5em;
}

.emoji {
    height: 1em;
    vertical-align: middle;
    display: inline;    
}
